.ant-menu-title-content {
    font-size: large;
    font-weight: 600;
    color: aliceblue !important;
}

.ant-layout-footer {
    background-color: #001529 !important;
}

.footer-text {
    color: aliceblue !important;
}