.ant-menu-title-content {
    font-size: large;
    font-weight: 600;
}

.ant-card-head {
    background-color: #001529 !important;
    color: aliceblue !important;
}

.news-card {
    border-radius: 20px 20px !important;
}