.ant-table-row {
    cursor: pointer;
}

.ant-table-thead > tr > th {
    background-color: #001529 !important;
    color: aliceblue !important;
}

.currency-card .ant-card-body {
    cursor: pointer;
    background-color: #001529 !important;
    color: aliceblue !important;
    border-radius: 10px;
}

.currencies-table, .search-coin {
    border-radius: 10px !important;
}
