.ant-table-row {
    cursor: pointer;
}

.ant-table-thead > tr > th {
    background-color: #001529 !important;
    color: aliceblue !important;
}


.currencies-table, .search-coin {
    border-radius: 10px !important;
}
